<div *ngIf="course" class="courses">
    <div class="container">

        <h2>{{course.initials | uppercase}}</h2>
        <hr>

        <div><strong>Nombre:</strong>{{course.name}}</div>
        <div><strong>Modalidad: </strong>{{course.modality}}</div>
        <div><strong>Description: </strong>
            <p>{{course.description}}</p>
        </div>
        <div *ngIf="course.active"><strong>Estado: </strong>Activo</div>
        <div *ngIf="!course.active"><strong>Estado: </strong>Inactivo</div>
        <div>
            <button class="btn btn-primary" style="margin-right: 2%;" routerLink="/course-update/{{course.courseId}}">
                Editar
            </button>
            <button class="btn btn-default" (click)="cancel()">Cancelar</button>
        </div>
    </div>

</div>